
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <a th:href="@{/webjars/bootstrap/css/bootstrap.min.css"></a>
          <a th:href="@{/webjars/font-awesome/css/all.css"></a>
         <source th:src="@{/webjars/jquery/jquery.min.js}"></source>
         <source th:src="@{/webjars/popper.js/umd/popper.min.js}"></source>
         <source th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></source>
    </head>
    <body>
        
        <footer th:fragment="footer">
            <p>&COPY [[#{plantilla.derechos}]]</p>
        </footer>
      
    </body>
</html>
