
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>TechShop</title>
      
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet">
        <source th:src ="@{/webjars/jquery/jquery.min.js}"></source>
        <source th:src ="@{/webjars/popper.js/ums/popper.min.js}"></source>
        <source th:src ="@{/webjars/bootstrap/js/bootstrap.min.js}"></source>
    </head>
    
    <body>
        <footer>
            <p>&COPY TechShop Derechos Reservados 2023</p>
        </footer>
 
      
    </body>
</html>
